<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Progen</title>
</head>
<body>
    <h1>Registreer school</h1>
    <div>
        <form th:action="@{/api/v1/registration/register_school}" method="post" th:object="${school}">
            <input type="text" name="schoolName" id="schoolName" th:field="*{schoolName}" placeholder="School naam" required/>
            <input type="email" name="schoolMail" id="schoolMail" th:field="*{schoolMail}" placeholder="School email" required/>
            <button type="submit">registreer</button>
        </form>
    </div>
</body>
</html>